@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    /* --color__principal: ##B2BEC3; */
    --color__principal: #BBC9AF;
    --color__secundario: #E1AE7C;
    --color__terciario: #111;
    --color__pasivo: #FFEBD8;
}

* {
    margin: 0;
    padding: 0;

}

html {
    font-size: 62.5%;
    font-family: 'poppins', sans-serif;
    background: var(--color__principal);

}



h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin: 0 9rem 0 0;
    color: var(--color__pasivo);
}

a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color__pasivo);
    padding: 2rem 0 0 2.6rem;

    &:hover {
        color: var(--color__terciario)
    }


}

li {
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p {

    color: #000;
    padding: 0 3px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: var(--titulo__card);
    margin: 0;
}

header {
    background: var(--color__secundario);
    width: 100%;
    height: 80px;



}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-right: 2rem;

    .ul__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav__ul {
        display: flex;
        gap: 3rem;
        margin-right: 2rem;
        animation: .3s ease;
        -webkit-animation: .3s ease;





        /*Aquiesdondecentramoslos4enlacesprincipales*/
        .nav__li {
            /* position: relative;
            display: flex;
            align-items: center; */
            list-style: none;
            position: relative;
            height: 100%;
            --clip: polygon(0 0, 100% 0, 100% 0, 0 0);

            &:hover {
                --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

            }

        }

        .nav_links {
            padding: 2rem 0 2rem 0;
        }

        .link1 {
            &:hover .icon__flecha {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }

        }

        .link2 {
            &:hover .icon__flecha {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
            }

        }



        .nav__nesting1 {
            list-style: none;
            transition: clip-path .3s;
            clip-path: var(--clip);
            position: absolute;
            right: 0;
            bottom: 0;
            width: max-content;
            transform: translateY(100%);
            /* display: none; */
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;



            padding: 3rem 0 0 0;
            line-height: 3.4rem;
            z-index: 2;

        }


    }

    .nav__nesting2 {

        padding: 3rem 0 0 0;
        line-height: 3.4rem;
        z-index: 2;
        list-style: none;
        transition: clip-path .3s;
        clip-path: var(--clip);
        position: absolute;
        right: 0;
        bottom: 0;
        width: max-content;
        transform: translateY(100%);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;


    }


}

.contenedor__iconos {
    display: flex;
    align-items: center;
}

.icon__cart {
    font-size: 26px;
    color: var(--color__pasivo);

    &:hover {
        color: var(--color__terciario);
    }
}

.icon__main {
    font-size: 26px;
    padding-left: 1rem;
    display: none;
    color: var(--color__pasivo);

    &:hover {
        color: var(--color__terciario);
    }
}

.icon__close {
    font-size: 26px;
    position: absolute;
    right: 90%;
    top: 6%;
    display: none;
}


/* Seccion banner */
.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(/utilidades/imagen_deFondo.jpg);
    background-size: cover;

    .banner__efect {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }
}



/* Aqui vamos a editar la seccion cart */
.cart {
    position: fixed;
    top: 13%;
    right: -100%;
    width: 360px;
    min-height: 64vh;
    padding: 2rem;
    z-index: 1;
    background-color: var(--color__secundario);
    border-top: var(--color__pasivo) 1px solid;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    transition: ease 1.6s;
    -webkit-transition: ease 1.6s;
    -moz-transition: ease 1.6s;
    -ms-transition: ease 1.6s;
    -o-transition: ease 1.6s;
    overflow-y: auto;


    &.activo {
        right: 0;

        transition: ease .3s;
        -webkit-transition: ease .3s;
        -moz-transition: ease .3s;
        -ms-transition: ease .3s;
        -o-transition: ease .3s;
        overflow-y: auto;

    }

    .cart__title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 2rem;

    }

    .cart__box {
        display: grid;
        grid-template-columns: 32% 50% 18%;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;

    }

    .cart__img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        padding: 1rem;
    }

    .detailBox {
        display: grid;
        row-gap: .5rem;
    }

    .cart__title {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    .cart__price {
        font-weight: 500;
    }

    .cart__quantity {
        border: 1px solid #000;
        outline-color: #E1AE7C;
        width: 3rem;
        text-align: center;
        font-size: 1.4rem;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    .cart__remove {
        font-size: 24px;
        color: var(--color__pasivo);
        cursor: pointer;

        &:hover {
            color: var(--color__terciario);
        }
    }



    .total {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.5rem;
        border-top: 1px solid var(--color__pasivo);
    }

    .total__price {
        margin-left: .5rem;

    }

    .btn__buy {

        margin: 1.5rem auto 0 auto;
        padding: 12px 20px;
        border: none;
        background: var(--color__terciario);
        color: var(--color__secundario);
        font-size: 1.4rem;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
        transition: transform .4s ease;
        -webkit-transition: transform .4s ease;
        -moz-transition: transform .4s ease;
        -ms-transition: transform .4s ease;
        -o-transition: transform .4s ease;
        width: 120px;




        &:hover {
            transform: scale(.9);
            -webkit-transform: scale(.9);
            -moz-transform: scale(.9);
            -ms-transform: scale(.9);
            -o-transform: scale(.9);
            transition: transform ease .2s;
            -webkit-transition: transform ease .2s;
            -moz-transition: transform ease .2s;
            -ms-transition: transform ease .2s;
            -o-transition: transform ease .2s;
            color: var(--color__principal);
        }
    }

    #close__cart {
        position: absolute;
        top: 1rem;
        right: .8rem;
        font-size: 2rem;
        color: var(--color__pasivo);
        cursor: pointer;

        &:hover {
            color: var(--color__terciario);
        }

    }
}











/*  Aqui se esta editando las cards */
.gallery {
    width: 100%;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));





    .content {
        position: relative;
        width: 220px;
        margin: 15px;
        padding-top: 1rem;
        float: left;
        text-align: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        cursor: pointer;
        height: 340px;

        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        background: #f2f2f2;
    }

    .content:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transform: translate(0px, -8px);
        -webkit-transform: translate(0px, -8px);
        -moz-transform: translate(0px, -8px);
        -ms-transform: translate(0px, -8px);
        -o-transform: translate(0px, -8px);
    }

    .info__card {

        font-size: 1.4rem;

    }

    .precio {
        text-align: left;
        padding: 1rem 0 1rem 3.2rem;
    }

    .button-card {
        position: absolute;
        text-align: center;
        font-size: 1.6rem;
        height: 60px;
        width: 220px;
        margin-top: 5px;
        top: 82%;
        left: 0;
        padding: 15px;
        border: 0;
        outline: none;
        cursor: pointer;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: #000;
        color: var(--color__secundario)
    }



}


@media(max-width:796px) {



    .nav {

        .nav__ul {
            position: fixed;
            max-width: 400px;
            width: 100%;
            top: 70px;
            bottom: 0;
            right: 0;
            background-color: var(--color__secundario);
            overflow-y: auto;
            display: grid;
            grid-auto-rows: max-content;
            z-index: 2;
            display: none;






            /* &.activo {

                display: block;
                z-index: 1;


            } */

        }
    }

    /* .nav__li {
        flex-direction: column;
        align-items: start;
            justify-content: center;
            padding: 5rem 0 2rem 0;


        }

        .nav__nesting {
            position: relative;
            display: block;
            top: 0;
            left: 0;
            box-sizing: border-box;
            display: none;

        } 

*/

    .icon__close {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0%;

        &:hover {
            color: #f2f2f2;
            cursor: pointer;
        }


    }

}

.contenedor__iconos {
    display: flex;
    margin-right: 2rem;


    .icon__main {
        display: block;
    }


}

.buy__card {
    padding-top: 2rem;
}




/* Estos son para poder centrar el contenido que aqui estan mal pcentradoss */
@media(max-width:474px) {}


@media(max-width:570px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        margin-left: calc(20%);

        .content {
            width: 280px;
        }

        .button-card {
            width: 280px;
        }
    }
}

/* @media(max-width:750px) {
    .icon__main {
        display: flex;
    }
} */